.idea-container {
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.actions-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.idea-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.idea-title, .idea-date {
    margin-block: 0.5rem;
}

.idea-author {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-style: italic;
}

.actions-container label {
    margin-inline: 5px;
}

.actions-container button {
    margin-right: 5px;
    cursor: pointer;
}
