nav.navbar {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px 0;
    justify-content: center;
}

nav.navbar .logo-link {
    text-decoration: none;
    color: inherit;
}

nav.navbar .logo {
    display: inline;
}

nav.navbar .right-group {
    margin-left: auto;
    display: flex;
    align-items: center;
}

nav.navbar a.create-trip-button {
    text-decoration: none;
    color: inherit;
    margin-right: 30px;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
}

nav.navbar a.create-trip-button:hover {
    background-color: #f2f2f2;
}

nav.navbar img.user-profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
