.trip-header, .idea-board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.delete-trip-button {
    all: unset;
    text-decoration: none;
    color: red;
    border: 1px solid red;
    padding: 10px 20px;
    border-radius: 5px;
}

button.delete-trip-button:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

a.create-idea-button {
    text-decoration: none;
    color: inherit;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
}

a.create-idea-button:hover {
    background-color: #f2f2f2;
}

.ideas-list {
    list-style: none;
    padding: 0;
}

.no-ideas-message {
    text-align: center;
    margin-top: 20px;
}

.idea-container {
    background-color: #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.actions-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.idea-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.idea-title, .idea-date {
    margin-block: 0.5rem;
}

.idea-author {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-style: italic;
}

.actions-container label {
    margin-inline: 5px;
}

.actions-container button {
    margin-right: 5px;
    cursor: pointer;
}